c-movie-tile {
    margin: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 30%;
}

.slds-grid {
    justify-content: center;
    height: 67vh;
    overflow: scroll;
}